<h1><%= @pharmacy.name %></h1>
<li>
  <ul><%= link "New Location", to: Routes.location_path(@conn, :new) %></ul>
</li>

<span><%= link "Edit Profile", to: Routes.location_path(@conn, :new) %></span>
| 
<span><%= link "Back", to: Routes.pharmacy_path(@conn, :index) %></span>
